@charset "utf-8";
/* CSS Document */
.container-fluid{
	padding: 0;
}
.carousel{
	width: 100%;
	height: 500px;
}
.carousel img{
	width: 100%;
	height: 500px;
	object-fit: cover;
}
.carousel-indicators li{
	padding-top: 5px;
}
.carousel-caption{
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.8)50%);
	width: 100%;
	height: 200px;
	padding-top: 110px;
	left: 0;
	right: 0;
	bottom: 0;
}
.carousel-caption h5{
	font-size: 30px;
}
.header{
   // position: fixed;
    //height: 100px;
}
.masthead{
	position: relative;
	width: 100%;
	height: 100vh;
	background: beige;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
}
.filter{
    width: 100vw;
}
.row{
    margin-left: auto;
    margin-right: auto;
}
.fond{
    //background-color: lightgrey;
    padding-left: 13%;
}
.article{
    margin-top: 50px;
    height: 350px;
}
.article img{
    width: 300px;

}

/*.color{
    position: relative;
    left: 150px;
    top: -150px;
    width: 200px;
    height: 200px;
    background-color: red;
    z-index: -1;
    border-radius: 20px;
}*/
.ct-events .arts-appliques  .color {
    position: relative;
    left: 150px;
    top: -150px;
    width: 200px;
    height: 200px;
    background-color: #76B729;
    z-index: -1;
    border-radius: 20px;
}
.ct-events .paramedical .color { 
    position: relative;
    left: 150px;
    top: -150px;
    width: 200px;
    height: 200px;
    background-color: #D21D10;
    z-index: -1;
    border-radius: 20px;
}
.ct-events .economique-cooremans .color{
    position: relative;
    left: 150px;
    top: -150px;
    width: 200px;
    height: 200px;
    background-color: #F49800;
    z-index: -1;
    border-radius: 20px;
}
.ct-events .technique .color{
    position: relative;
    left: 150px;
    top: -150px;
    width: 200px;
    height: 200px;
    background-color: #5D0749;
    z-index: -1;
    border-radius: 20px;
}
.ct-events .pedagogique-bulls .color{
    position: relative;
    left: 150px;
    top: -150px;
    width: 200px;
    height: 200px;
    background-color: #1B97CE;
    z-index: -1;
    border-radius: 20px;
}
.ct-events .social-cooremans .color{
    position: relative;
    left: 150px;
    top: -150px;
    width: 200px;
    height: 200px;
    background-color: #F0E51A;
    z-index: -1;
    border-radius: 20px;
}