/* Scss Document */
@import "colors";

////////////////////////////////////////VICKY///////////////////////////////////////////////////
.filter{
	.button{
		color:white;
		border-radius: 50px;
	}
	a{
		padding : 0 35 0 35px;
	}
	div{
		width:75%;
	}
}

.filter #accueil{
	color : black!important;
}
#art{
	background-color: $art;
}

#eco{
	background-color: $eco;
}

#para{
	background-color: $para;
}

#peda{
	background-color: $peda;
}

#social{
	background-color: $soci;
}
#tech{
	background-color: $tech;
}

.button:active{
	background-color: gray;
}

///////////////////////////////////////GALERIE/////////////////////////////////////////////////
.img-top-galerie{
background:	url(./img/camera-macro-optics-122400.jpg);
background-size: cover;
height:600px;
}
.img-titre-galerie h1{
position: relative;
top:150%;
float:right;
font-size: 125px;
margin-right:20px;
}

.img-top-accueil{
background:	url(./img/business-computer-desk-1036808.jpg);
background-size: cover;
height:100vh;
width:100%;
}
.img-titre-accueil h1{
position: relative;
top:150%;
float:right;
font-size: 100px;
padding-right:20px;
}
.row {
margin:0 !important;
}

.hovereffect .wp-post-image{
	width:200px;
	height:200px;
}

.hovereffect:hover .overlay, .hovereffect:hover .overlay2 {
  &.arts-appliques {
    background-color: $art;
  }
  &.economique-cooremans {
    background-color: $eco;
  }
  &.paramedical {
    background-color: $para;
  }
  &.pedagogique-bulls {
    background-color: $peda;
  }
  &.social-cooremans {
    background-color: $soci;
  }
  &.technique {
    background-color: $tech ;
  }
	&.paramedical.arts-appliques, &.paramedical.economique-cooremans, &.paramedical.pedagogique-bulls, &.paramedical.technique, &.paramedical.social-cooremans, &.arts-appliques.economique-cooremans, &.arts-appliques.pedagogique-bulls, &.arts-appliques.technique, &.arts-appliques.social-cooremans, .hashtags.economique-cooremans.pedagogique-bulls, &.economique-cooremans.technique, &.economique-cooremans.social-cooremans, &.pedagogique-bulls.technique, &.pedagogique-bulls.social-cooremans, &.technique.social-cooremans {
background-color:#CECECE;
}
}


.color-galerie{
	width:100%;
	height: 100%;
	opacity:0.4;
	position:absolute;
	top:0;
	left:0;
	&.arts-appliques {
    background-color: $art;
  }
  &.economique-cooremans {
    background-color: $eco;
  }
  &.paramedical {
    background-color: $para;
  }
  &.pedagogique-bulls {
    background-color: $peda;
  }
  &.social-cooremans {
    background-color: $soci;
  }
  &.technique {
    background-color: $tech ;
}
		&.paramedical.arts-appliques, &.paramedical.economique-cooremans, &.paramedical.pedagogique-bulls, &.paramedical.technique, &.paramedical.social-cooremans, &.arts-appliques.economique-cooremans, &.arts-appliques.pedagogique-bulls, &.arts-appliques.technique, &.arts-appliques.social-cooremans, .hashtags.economique-cooremans.pedagogique-bulls, &.economique-cooremans.technique, &.economique-cooremans.social-cooremans, &.pedagogique-bulls.technique, &.pedagogique-bulls.social-cooremans, &.technique.social-cooremans {
background-color:#CECECE;
}
}
.ct-events .color{
	&.arts-appliques {
    background-color: $art;
  }
  &.economique-cooremans {
    background-color: $eco;
  }
  &.paramedical {
    background-color: $para;
  }
  &.pedagogique-bulls {
    background-color: $peda;
  }
  &.social-cooremans {
    background-color: $soci;
  }
  &.technique {
    background-color: $tech ;
}
		&.paramedical.arts-appliques, &.paramedical.economique-cooremans, &.paramedical.pedagogique-bulls, &.paramedical.technique, &.paramedical.social-cooremans, &.arts-appliques.economique-cooremans, &.arts-appliques.pedagogique-bulls, &.arts-appliques.technique, &.arts-appliques.social-cooremans, .hashtags.economique-cooremans.pedagogique-bulls, &.economique-cooremans.technique, &.economique-cooremans.social-cooremans, &.pedagogique-bulls.technique, &.pedagogique-bulls.social-cooremans, &.technique.social-cooremans {
background-color:#CECECE;
}
}

.hovereffect {
width:200px;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
margin: 10px 0;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;	
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}

///////////////////////////////////////////////////VICKY///////////////////////////////////////////////

.hovereffect:hover .overlay2{
  &.arts-appliques {
    background-color: $art;
  }
  &.economique-cooremans {
    background-color: $eco;
  }
  &.paramedical {
    background-color: $para;
  }
  &.pedagogique-bulls {
    background-color: $peda;
  }
  &.social-cooremans {
    background-color: $soci;
  }
  &.technique {
    background-color: $tech ;
  }
	&.paramedical.arts-appliques, &.paramedical.economique-cooremans, &.paramedical.pedagogique-bulls, &.paramedical.technique, &.paramedical.social-cooremans, &.arts-appliques.economique-cooremans, &.arts-appliques.pedagogique-bulls, &.arts-appliques.technique, &.arts-appliques.social-cooremans, .hashtags.economique-cooremans.pedagogique-bulls, &.economique-cooremans.technique, &.economique-cooremans.social-cooremans, &.pedagogique-bulls.technique, &.pedagogique-bulls.social-cooremans, &.technique.social-cooremans {
background-color:#CECECE;
}
}

.hovereffect .overlay2 {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;	
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect2 {
width:200px;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
margin: 10px 0;
}

.hovereffect2:hover .overlay2 {
opacity:0.8;
filter:alpha(opacity=100);
}

